.Rproj.user
.Rhistory
.RData
.Ruserdata
R_docs/modules/Initiation_a_R/Data/Senegal.xlsx
*.TIF
*.csv
*.prj
*.dbf
*.shp
*.shx
*.txt
*.cpg
R_docs/modules/Initiation_dplyr_ggplot2/scripts/Initiation_dplyr_ggplot2.html
*.rar
*.xlsx
*.xls
*.tex
*.zip
*.qpj
